.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #2b2b2b;
}

p {
  color: #efefef;
}

.header-p {
  text-align: center;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.media-outter-wrapper {
  display: flex;
  justify-content: center;
}

.media-wrapper {
  border: 3px solid gray;
  border-radius: 5px; 
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 350px; 
  display: inline-block;
  height: 550px;
  white-space: nowrap;
}

.asset-img {
  object-fit: cover;
  border-radius: 8px;
}

.asset-title {
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
